package ${package.Controller};


import org.springframework.web.bind.annotation.RequestMapping;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} Controller
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} service;

    @PostMapping({"save"})
    public R save(@RequestBody @Valid $!{table.entityName} entity) {
        if(service.add(entity)){
            return R.ok();
        }else{
            return R.error();
        }
    }

    @GetMapping({"/detail/{id}"})
    public R getById(@PathVariable("id") int id) {
        return R.ok(service.selectById(id));
    }

    @PutMapping({"update"})
    public R update(@RequestBody $!{table.entityName} entity) {
        return R.ok(service.modifyById(entity));
    }

    @GetMapping({"list"})
    public R list($!{table.entityName} entity, PageDomain pageDomain){
        return R.ok(service.selectByPage(entity, pageDomain));
    }

    @DeleteMapping({"/remove/{id}"})
    public R remove(@PathVariable("id") int id) {
        var entity = service.getById(id);
        if(Objects.nonNull(entity)){
            service.deleteById(id);
        }
        return R.ok();
    }
}

#end