package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    boolean add(${entity} entity);

    ${entity} selectById(int id);

    ${entity} modifyById(${entity} entity);

    IPage<${entity}> selectByPage(${entity} entity, PageDomain pageDomain);

    void deleteById(int id);
}
#end
